<!-- Check postController.js for explanation of this code -->
<%- include('includes/header') %>

  <div class="container py-md-5 container--narrow">
    <div class="text-center">
      <!-- Within ejs template engine we can write html freely and if we want to add something dynamic -->
      <!-- We have to write it between ejs tags which are those <%# %> without hashtag, I added it-->
      <!-- To comment ejs tags as well, they don't recognize html comments :d -->
      <!-- So just to be clear once more, within those ejs tags we can run javascript -->
      <!-- But if we want to specifically output something or print something, after the openning % sign we add equal sign = like this <%#= %>-->
      <!-- Again, without hashtag -->
      
      <!-- We added user to username here, because we made reusable the session data passing to templates  -->
      <h2>Hello <strong><%= user.username %></strong>, your feed is empty.</h2>
      <p class="lead text-muted">Your feed displays the latest posts from the people you follow. If you don&rsquo;t have any friends to follow that&rsquo;s okay; you can use the &ldquo;Search&rdquo; feature in the top menu bar to find content written by people with similar interests and then follow them.</p>
    </div>  
  </div>
  
  <!-- footer begins -->
  <!-- We removed footer to reuse it -->
<%- include('includes/footer') %>